@media all and (max-width: 992px) {

	body {
		margin-top: 50px;
		background-color: #555;
	}

	.login-box {
		margin-top: 0%;
		top: 20px !important;
	}

	.navbar-top {
		z-index: 1051;
	}

	.nav-top {
		display: none;
	}

	#salir2 {
		display: block !important;
	}

	.navbar-side {
		right: -190px;
		z-index: 1051;
	}

	#fechas > * {
		font-size: 9px;
	}

	.cFinde, #semanas > div:nth-child(7n+6), #semanas > div:nth-child(7n+7) {
		color: #222 !important;
		font-size: 0px !important;
	}
}

#overlay {
	position: fixed;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	background-color: rgba(255,255,255,.6);
	z-index: 1050;
}

.login-container {
	margin-top: 5%;
}

#login-box {
	background-color: white;
}

#salir2 {
	display: none;
}

.navbar-brand {
	font-size: 7px;
}

.navbar-brand > a > img {
	width: 140px;
}

.navbar-side {
	height: 100%;
}

#siteContent {
	margin-top: 5px !important;
}

#mainInfo {
	margin: 10px 0px 60px;
}

.reserva > h3, .reserva > h4 {
	margin: 0px;
	padding: 0px;
	text-align: right;
}

.reserva > h4 {
	font-size: 10px;
}

.reserva > small {
	font-size: 12px;
}

.reserva > i {
	opacity: .4;
}

#fechas > * {
	white-space: nowrap;
	overflow: hidden;
}

#semanas > div {
	height: 75px;
	box-sizing: border-box;
	font-size: 22px;
	text-align: left;
	padding: 10px;
	border: solid 1px white;
}

.cLibre {
	background: #318DF2;
	color: white;
	cursor: pointer;
}

.cParcial {
	background: #F28D31;
	color: white;
	cursor: pointer;
}

.cCompleto {
	background: #ED3330;
	color: white;
}

.cNada, #semanas > a:empty {
	background: #EEE;
	cursor: default;
}

.cFinde, #semanas > div:nth-child(7n+6), #semanas > div:nth-child(7n+7) {
	background: #222;
	color: white;
	cursor: default;
}

.cFeriado {
	background: #622;
	color: white;
	cursor: default;
}

.horario {
	font-size: 11px;
	padding-bottom: 2px;
}

input[type=checkbox].tc:disabled+.labels::before {
	background-color: #EDC !important;
}

input[type=checkbox].tc:disabled:checked+.labels::before {
	background-color: #CEC !important;
}

.footer {
	position: fixed;
	bottom: 0px;
}

.footer .fa {
	margin: 0px 3px;
	color: #FF4242;
	color: #DE5F5F;
}






.registro {
	width: 100%;
	margin: 0px auto;
	background: #EEE;
	height: 70%;
	/*overflow-y: scroll;*/
}

.registro:nth-child(odd) {
	background: #DDD;
}

.registro > div {
	display: inline-block;
	height: 30px;
	line-height: 30px;
	padding: 0px;
	text-align: center;
}

.registro > div:nth-child(1) {
	width: 10%;
}

.registro > div:nth-child(2) {
	width: 10%;
}

.registro > div:nth-child(3) {
	width: 35%;
	padding-left: 15px;
	text-align: left;
}

.registro > div:nth-child(4) {
	width: 15%;
}

.registro > div:nth-child(5) {
	width: 30%;
}

.turnoTitulos {
	background: #333;
	color: white;
	width: 100%;
	line-height: 30px;
	text-align: center;
	cursor: pointer;
}

.subinfo {
	font-size: 0px;
}

.subinfo > div {
	font-size: 10px; 
	background: #DDD;
	padding: 4px 0px;
	color: #666;
}

.subinfo > div:nth-child(1) {
	background: none;
}

.br {
	margin: 0px;
	font-size: 0px;
	height: 25px;
}

.validar {
	width: 60px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 3px 0px;
    border: 1px solid #3b6b23;
    border-radius: 0px;
    background: #62d16a;
    background: -webkit-gradient(linear, left top, left bottom, from(#62d16a), to(#478545));
    background: -moz-linear-gradient(top, #62d16a, #478545);
    background: linear-gradient(to bottom, #62d16a, #478545);
    text-shadow: #6c4801 1px 1px 1px;
    font: 10px verdana;
    color: #ffffff;
    text-decoration: none;
    margin: 0px 2px;
}
.validar:hover,
.validar:focus {
    border: 1px solid ##7bbe45;
    background: #a9ff5f;
    background: -webkit-gradient(linear, left top, left bottom, from(#a9ff5f), to(#67a03a));
    background: -moz-linear-gradient(top, #a9ff5f, #67a03a);
    background: linear-gradient(to bottom, #a9ff5f, #67a03a);
    color: #ffffff;
    text-decoration: none;
}

.cancelar {
	width: 60px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 3px 0px;
    border: 1px solid #6b2323;
    border-radius: 0px;
    background: #de3838;
    background: -webkit-gradient(linear, left top, left bottom, from(#de3838), to(#7a1f1f));
    background: -moz-linear-gradient(top, #de3838, #7a1f1f);
    background: linear-gradient(to bottom, #de3838, #7a1f1f);
    text-shadow: #6c4801 1px 1px 1px;
    font: normal normal normal 10px verdana;
    color: #ffffff;
    text-decoration: none;
    margin: 0px 2px;
}
.cancelar:hover,
.cancelar:focus {
    border: 1px solid ##911a09;
    background: #ff3211;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff3211), to(#941a0a));
    background: -moz-linear-gradient(top, #ff3211, #941a0a);
    background: linear-gradient(to bottom, #ff3211, #941a0a);
    color: #ffffff;
    text-decoration: none;
}

.editar {
	width: 60px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 3px 0px;
    border: 1px solid #6b5f23;
    border-radius: 0px;
    background: #e6a910;
    background: -webkit-gradient(linear, left top, left bottom, from(#e6a910), to(#916c10));
    background: -moz-linear-gradient(top, #e6a910, #916c10);
    background: linear-gradient(to bottom, #e6a910, #916c10);
    text-shadow: #6c4801 1px 1px 1px;
    font: normal normal normal 10px verdana;
    color: #ffffff;
    text-decoration: none;
    margin: 0px 2px;
}
.editar:hover,
.editar:focus {
    border: 1px solid ##d78f02;
    background: #ffdf04;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffdf04), to(#ce8902));
    background: -moz-linear-gradient(top, #ffdf04, #ce8902);
    background: linear-gradient(to bottom, #ffdf04, #ce8902);
    color: #ffffff;
    text-decoration: none;
}